@use "../../lib/styles/" as *;

.Login {
	@include fitBox();
	background-size: auto;
	overflow: hidden;
	@include displayFlex(row, center);
	position: relative;
	color: $text-color;
}

.Login__loginbox {
	@include displayFlex(column);
	align-items: center;
	padding: 4rem;
	@include squareBox(50rem);
	position: relative;

	.Login__loginbox-overlay {
		@include fitBox();
		position: absolute;
		background-color: black;
		opacity: 0.8;
		top: 0;
		z-index: 0;
	}
}

.Login__loginbox-content {
	@include displayFlex(column);
	z-index: 1;
	width: 100%;
	height: 100%;
	.Login__header {
		font-size: 5rem;
		text-align: center;
		margin-bottom: 2rem;
	}
	.Login__error-message {
		font-size: 2rem;
		color: gold;
		text-align: center;
		margin-top: 2rem;
	}
	.Login__submit {
		width: 100%;
		margin-top: auto;
		font-size: 3rem;
	}
}
